@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Harry</h1>
    <p class="lead">Please be patient....</p>
    <p><a href="#" class="btn btn-primary btn-lg">Dummy &raquo;</a></p>
</div>